.idea
.git
graphs
venv
data
server.log


.idea
.run
*.iml
account-auth/*.iml
account-auth/target
config/*.iml
account-gateway/*.iml
account-gateway/target
registry/*.iml
account-service/*.iml
account-service/target
config/target
registry/target